* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
    
} 
    body {
    height: 100vh;  
    overflow: hidden;  
    font-family: Helvetica, sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    }
nav {
    display: flex;    
    justify-content: space-between;
    padding: 20px 10px;
    height: 60px;
} 

ul {
    display: flex;    
    list-style: none;
    align-items: center;
} 

li {
    text-align: center ;    
    padding: 14px 12px;
} 

a {
    text-decoration: none;
    font-size: 19px;    
} 

li a:hover {
    text-decoration: underline;    
} 

.small-text {
    font-size: 20px;    
} 
    

.menu-bg:hover {
    background-color: rgba (100,100,100,1);    
    cursor: pointer;
    
} 
.menu-button {
    width: 30px;
    height: 30px;    
}
.profile-pic{
    font-size: 14px;
    width: 30px;
    height: 30px;
    margin-top: 6px;  
    border-radius: 50%;
}
.hy{
    display: flex;
    justify-content: flex-end;
} 
form {
    position: relative;    
    margin-top: 30px;
}
.search-wrapper {
    height: 60vh;    
    display: flex ;
    flex-direction: column;
    align-items: center;
} 
input {
    width: 580px;        
    height: 45px;
    padding-left: 50px;
    font-size: 1.2rem;
    border-radius: 45px;
    border: 1px solid #d3d3d3;
} 
input:hover {
    box-shadow: 0 1px 3px 1px rgba
(201, 201,201,0.5); 
}
input:focus {
    outline: none;    
}
.search {
    width: 15px;  
    position: absolute;  
    top: 15px;
    left: 15px;  
}
.mic {
    width: 15px;    
    position: absolute;
    top: 12px;
    left: 540px;
} 
.buttons {
   width: 240px; 
   justify-content: center;
  margin: auto;
  display: content;
  margin-top: 30px     
}  
button  {
    border: 1px solid transparent;    
    padding: 8px 12px;
    background-color: #f8f9fa;
    border-radius: 5px;
    padding-top: 20px;
}
button:hover {
    border: 1px solid;    
    box-shadow: 0 0 2px 1px rgba(189, 189, 189,0.5);
cursor: pointer; 
}

footer {
    width: 100%;    
    background-color: #f2f2f2;
} 

.panel {
    border-bottom: 1px solid #ddd;    
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
} 
.leaf {
    width: 12px;    
} 
.right {
    justify-content: flex-end;    
} 